<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/index-style.css">
    <title>Document</title>
</head>
<body>
    <h2>Digite os valores para serem alterados!</h2>
    <div id="res">
        <%if(typeof resObj != 'undefined' ){
            resObj.forEach(function(attribute) { 
                let url = `http://localhost:3000/api/PUT/${attribute.attOne}`
                %>
            <p>
               ID: <%= attribute.attOne %>
            </p>
            <p>
                Texto: <%= attribute.attTwo %>
            </p>
        
        </div>
        <form id="form-1" action=<%= url %> class="design" method="POST">
            <label class="att">Atributo UM (ID) <input id="sendID" class="att" name="attONE" type="number"></label>
            <label class="att">Atributo DOIS<input id="sendString" class="att" name="attTWO" type="text"></label>
            <button class="send" type="submit">ENVIAR</button>
        </form>
        <% })}%>
</body>
<script src="/scripts/edit-script.js"> </script>
</html>