 <!-- Modal -->
 <div class="modal  fade body-dark" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
 aria-hidden="true">
 <div class="modal-dialog text-white bg-dark">
     <div class="modal-content bg-dark">
         <div class="modal-header">
             <h1 class="modal-title fs-5" id="exampleModalLabel">Deletar nota</h1>

             <button type="button" class="btn btn-sm" data-bs-dismiss="modal" aria-label="Close"><i
                     class="bi bi-x-square icon-warning"></i></button>
         </div>
         <div class="modal-body d-flex body-dark">
             <i class="bi bi-exclamation-triangle icon-warning m-2"></i>
             <p class="px-2">Isso irá excluir permanentemente sua anotação.
             </p>
         </div>
         <div class="modal-footer">
             <button type="button" id="delete-note" 
                 class="btn btn-sm btn-danger">Deletar</button>

             <button type="button" class="btn btn-sm btn-secondary"
              data-bs-dismiss="modal">Cancelar</button>
         </div>
     </div>
 </div>
</div>
