<div class="jumbotron">
    <h1 class="fs-3">Bem vindo</h1>
    <div class="px-3">
        <p>Projeto teste com express, sqlite, ejs e bootstrap.
          Crie, edit, liste e delete anotações.</p>
    </div>
</div>